
body {
  font-family: 'Titillium Web', sans-serif;
}

h5 {
  font-weight: bold;
}

/* Change the primary color */
nav,
.btn {
  background-color: primary-color !important;
}

/* Change the secondary color (text color) */
nav a.brand-logo,
.btn {
  color: secondary-color !important;
}

nav,.btn {
  box-shadow:none;
}

/* Change the primary color */
nav,
.btn {
  background-color: #37474F !important;
}

/* Change the secondary color (text color) */
nav a.brand-logo,
.btn {
  color: #ffffff !important;
}

.btn {
  font-weight: bold;
}

.drop-zone {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  cursor: pointer;
}

.drop-zone:hover {
  background-color: #f9f9f9;
}

.drop-zone.dragover {
  border-color: #000;
  background-color: #f0f0f0;
}
